body {
    background-color: skyblue;
}

button {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: cadetblue;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

h1 {
    color:  red;
}